@import "../../shared-styles/colors";

.button {
    display: inline-flex;
    width: 50%;
    .btn {
        background-color: $button-color;
        border-radius: 5px;
        padding: 5px;
        font-size: 15px;
        border: none;
        margin: 10px;
        text-align: center;
        width: 100%;
        cursor: pointer;
        display: inline-block;

        &-active,
        &:hover {
            background-color: $btn-active;
            outline: none;
        }
    }

    input {
        display: none;
    }
}
