@import "../../shared-styles/colors";

.btn {
    background-color: $button-color;
    border-radius: 5px;
    padding: 5px;
    font-size: 15px;
    border: none;
    margin: 10px;
    width: 30%;
    text-align: center;
    cursor: pointer;
    display: inline-block;

    &-active,
    &:hover {
        background-color: $btn-active;
        outline: none;
    }
}

input {
    display: none;
}
