@import "./colors";

$loader-border: #ccc;

.loading {
    height: 0;
    width: 0;
    padding: 15px;
    border: 6px solid $loader-border;
    border-right-color: $gray-bg;
    border-radius: 22px;
    animation: rotate 1s infinite linear;
    /* left, top and position just for the demo! */
    left: 50%;
    top: 50%;
}

@keyframes rotate {
    /* 100% keyframe for  clockwise. 
       use 0% instead for anticlockwise */
    100% {
        -webkit-transform: rotate(360deg);
    }
}
