@import "./shared-styles/colors";

.App {
  padding: 0 20px 20px 20px;
  .header {
    font-weight: 800;
    font-size: 40px;
  }
  .main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
  }

  .signature {
    text-align: center;
    position: fixed;
    bottom: 0;
    background-color: #f2f2f2;
    height: 34px;
    width: 100%;
  }
}

@media only screen and (max-width: 700px) {
  .App > .main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
